<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Canvas Image Manipulation</title>
  </head>
  <body>
    <p class="instructions">
      Click anywhere on the screen to scatter or collect Charizard's pixels!
    </p>
    <img
      class="picture"
      src="{% static 'charizard.png' %}"
      alt="This is supposed to be a picture of Charizard."
    />
    <canvas></canvas>
    <script src="{% static 'bundle.js' %}"></script>
  </body>
</html>
