*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  background-color: #191f2b;
  position: relative;

  display: grid;
}

.instructions {
  justify-self: center;
  padding-top: 1rem;

  position: absolute;

  font-size: 1.75rem;
  color: white;
  white-space: nowrap;
}

.picture {
  display: none;
}
